name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      BUILD_CONFIG: Release

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore dependencies
        run: dotnet restore SubsequenceFinder.slnx

      - name: Build
        run: dotnet build SubsequenceFinder.slnx --no-restore --configuration ${{ env.BUILD_CONFIG }}

      - name: Run Tests with Coverage
        run: dotnet test SubsequenceFinder.slnx --configuration ${{ env.BUILD_CONFIG }} --collect:"XPlat Code Coverage"

      - name: Display Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: SubsequenceFinder.Tests/TestResults/**/coverage.cobertura.xml
          format: "markdown"
