name: .NET CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    env:
      BUILD_CONFIG: Release
      TEST_PROJECT_PATH: SubsequenceFinder.Tests/SubsequenceFinder.Tests.csproj

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore dependencies
        run: dotnet restore SubsequenceFinder.sln

      - name: Build
        run: dotnet build SubsequenceFinder.sln --no-restore --configuration ${{ env.BUILD_CONFIG }}

      - name: Run tests
        run: dotnet test SubsequenceFinder.sln --no-build --verbosity normal --configuration ${{ env.BUILD_CONFIG }}
